<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Esri.APL.MilesPerDollar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Esri.APL.MilesPerDollar.Properties.Settings>
            <setting name="PADDZonesUrl" serializeAs="String">
                <value>https://maps.esri.com/md/MilesPerDollar/com/esri/apl/mpd_mvc/assets/data/States2PADD.xml</value>
            </setting>
            <setting name="VehicleInfoUrl" serializeAs="String">
                <value>https://maps.esri.com/md/MilesPerDollar/com/esri/apl/mpd_mvc/assets/data/vehicles.xml</value>
            </setting>
            <setting name="FuelCostUrl" serializeAs="String">
                <value>https://maps.esri.com/md/MilesPerDollar/com/esri/apl/mpd_mvc/assets/data/PET_PRI_GND_A_EPM0_PTE_DPGAL_W.xls</value>
            </setting>
            <setting name="FuelCostUrl_debug" serializeAs="String">
                <value>http://cirque.esri.com/MilesPerDollar/PET_PRI_GND_A_EPM0_PTE_DPGAL_W.xls</value>
            </setting>
            <setting name="QryPointToState" serializeAs="String">
                <value>https://sampleserver3.arcgisonline.com/ArcGIS/rest/services/Network/USA/MapServer/121/query</value>
            </setting>
            <setting name="GPFindSA" serializeAs="String">
                <value>https://maps.esri.com/apl22/rest/services/SvcAreaByDist/MPGServiceArea_WM/GPServer/MPGSvcArea/execute</value>
            </setting>
        </Esri.APL.MilesPerDollar.Properties.Settings>
    </applicationSettings>
</configuration>